/* global */
.container{
  width:90%;
  display:block;
  margin:0 auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin:0;
}
.filter-options{
  width:100%;
  margin:0 auto;
  display:block;
  background:red;
}
/* products */
.filter-options li {
  float: left;
  padding:20px;
  border-right:1px solid black;
  cursor:pointer;
}
.filter-options li:hover{
  background:maroon;
}
.story-list{
  width:100%;
  background:lightBlue;
}
.story-item{
  width:90%;

}
.story-item>div{
  display:inline-block;
}
.upvote-article, .star-article{
  cursor:pointer;
  padding:20px;
}
.upvote-article span{
  display:block;
}

/* helpers */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
